<!-- <app-db-header></app-db-header> -->
<app-seller-header></app-seller-header>
<section class="dashboard-wrapper">
    <div class="custom-container d-flex">
        <app-sidebar></app-sidebar>
        <div class="main-wrap mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="myprofile-container">
                            <div class="col-md-8 offset-md-2">
                                <div class="profile-info-section">
                                    <div class="personal-info-section">
                                        <div class="personal-info-header">
                                            <h1>Edit Address</h1>
                                        </div>
                                        <div class="edit-address-form">
                                            <div class="form-box mt-3">
                                                <form [formGroup]="editForm" (ngSubmit)="save()">
                                                    <div class="form-group" *ngIf="countries && countries.length > 0">
                                                        <label for="">Country/Region</label><br>
                                                        <select class="form-control mb-2" formControlName="country" (change)="selectCountry($event)">
                                                            <option value="">Select Country</option>
                                                            <option *ngFor="let country of countries">{{country.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.country.valid && editForm.controls.country.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.country.hasError('required')">
                                                            Please select country
                                                        </p>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="Fname">First name</label><br>
                                                        <input type="text" class="form-control mb-2"
                                                            formControlName="first_name" id="Fname">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.first_name.valid && editForm.controls.first_name.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.first_name.hasError('required')">
                                                            Please enter first name
                                                        </p>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="Fname">Last name</label><br>
                                                        <input type="text" class="form-control mb-2"
                                                            formControlName="last_name" id="Lname"  [value]="addressDetail?.last_name">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.last_name.valid && editForm.controls.last_name.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.last_name.hasError('required')">
                                                            Please enter last name
                                                        </p>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="Phone">Mobile Number</label><br>
                                                        <input type="text" formControlName="phone_number"
                                                            class="form-control mb-2" id="phone"  [value]="addressDetail?.phone_number">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.phone_number.valid && editForm.controls.phone_number.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.phone_number.hasError('required')">
                                                            Please enter phone number
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pno">Pincode</label><br>
                                                        <input type="text" id="pno" formControlName="zip_code"
                                                            class="form-control mb-2" [value]="addressDetail?.zip_code">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.zip_code.valid && editForm.controls.zip_code.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.zip_code.hasError('required')">
                                                            Please enter zip code
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Flat, House no., Building, Company,
                                                            Apartment</label><br>
                                                        <input type="text" id="pno" formControlName="address_line1"
                                                            class="form-control mb-2" [value]="addressDetail?.address_line1">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.address_line1.valid && editForm.controls.address_line1.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.address_line1.hasError('required')">
                                                            Please enter address line 1
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Area, Street, Sector, Village</label><br>
                                                        <input type="text" class="form-control mb-2"
                                                            formControlName="address_line2" [value]="addressDetail?.address_line2">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.address_line2.valid && editForm.controls.address_line2.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.address_line2.hasError('required')">
                                                            Please enter address line 2
                                                        </p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Landmark</label><br>
                                                        <input type="text" class="form-control mb-2"
                                                            formControlName="landmark" [value]="addressDetail?.landmark">
                                                    </div>
                                                    <div
                                                        *ngIf="!editForm.controls.landmark.valid && editForm.controls.landmark.touched">
                                                        <p style="color: red"
                                                            *ngIf="editForm.controls.landmark.hasError('required')">
                                                            Please enter landmark
                                                        </p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="">Town/City</label>
                                                                <input type="text" formControlName="city"
                                                                    class="form-control" [value]="addressDetail?.city">
                                                            </div>
                                                        </div>
                                                        <div
                                                            *ngIf="!editForm.controls.city.valid && editForm.controls.city.touched">
                                                            <p style="color: red"
                                                                *ngIf="editForm.controls.city.hasError('required')">
                                                                Please enter city
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="">State</label><br>
                                                                <select name="" id="" class="form-control"
                                                                    formControlName="state">
                                                                    <option value="" disabled>choose a state</option>
                                                                    <option *ngFor="let state of states" [value]="state?.name">{{state?.name}}</option>
                                                                </select>
                                                            </div>
                                                            <div
                                                                *ngIf="!editForm.controls.state.valid && editForm.controls.state.touched">
                                                                <p style="color: red"
                                                                    *ngIf="editForm.controls.state.hasError('required')">
                                                                    Please enter state
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="">Address Type</label><br>
                                                                <select class="form-control"
                                                                    formControlName="address_type">
                                                                    <option value="office"> Office/Commercial (10 AM - 6
                                                                        PM delivery)
                                                                    </option>
                                                                    <option value="home"> Home (10 AM - 6 PM delivery)
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div
                                                                *ngIf="!editForm.controls.address_type.valid && editForm.controls.address_type.touched">
                                                                <p style="color: red"
                                                                    *ngIf="editForm.controls.address_type.hasError('required')">
                                                                    Please enter address type
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button type="submit"
                                                                class="btn btn-change-fill">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>