table {
    width: 100%;
    font-size: 12px;
  }
  .font-size{font-size:12px;}

  .btns_imgs:hover {
    color: red;
}
.btns_imgs::after{
    background-color: red !important;
}
.btns_imgs::before{
    border: 1px solid #ff0000;
}