.heightcss{
    height: 233px !important ;
    margin-top: 10% !important;
}

.widthcss{
    width: 98% !important;
    height: 100% !important;
    //margin-top: 10% !important;
}
.heightIMg{
    height: 298px !important;
}
