<app-seller-header></app-seller-header>
<div class="seller-quotation-d-wrapper">
	<div class="custom-container d-flex">
		<app-seller-sidebar></app-seller-sidebar>
		<div class="main-wrap">
			<div class="card">
				<div class="card-body">
					<div class="row border-bottom">
						<div class="col-md-3">	
								<div class="dashboard-table-heading  float-left">
										<h1>Modify Quotation</h1>
								</div>
							</div>
							<div class="col-md-9">	
								<div class="float-right">
									<a routerLink="/addIssueQuotation" class="btn btn-round-blue"><i class="fa fa-plus"></i></a>
									<a routerLink="/SellerModifyIssueQuote" class="btn btn-round-blue"><i class="fa fa-pencil"></i></a>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-md-12">
							<div class="quotation-data">
								<div class="issue-quotation-head">
									<p class="quotation--text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
									</p>
									<div class="quotation-structure">
										<ul>
											<li class="quotation-structure-list">
												<span class="structure-title active--quote-modify">Warrenty</span>:
												<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
											</li>
											<li class="quotation-structure-list">
												<span class="structure-title">Offer Validity</span>:
												<span class="structure-text">2 months only</span>
											</li>
										<!-- 	<li class="quotation-structure-list">
												<span class="structure-title">Payment</span>:
												<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
											</li> -->
										</ul>
									</div>										
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 offset-md-2">	
									<div class="quotation-table">
										<table class="table table-bordered">
											<tbody>
												<tr>
													<th scope="row">Price per Unit</th>
													<td>$10</td>
												</tr>
												<tr>
													<th scope="row">Total Quantity</th>
													<td>300pcs</td>
												</tr>
												<tr>
													<th scope="row">Vat</th>
													<td>$100</td>
												</tr>
												<tr>
													<th scope="row">Discount</th>
													<td>$10</td>
												</tr>
												<tr>
													<th scope="row">Total Price</th>
													<td>$3090</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="quotation--note">
								<p class=""><span>Note:</span><span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt </span></p>
							</div>
							<div class="structure-process active--quote-modify">
								<div class="structure-process-head">
									<h2>Scope of work</h2>
								</div>
								<!-- <p class="quotation--text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini
								</p> -->
								<div class="process-list">
									<ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="structure-process active--quote-modify">
								<div class="structure-process-head">
									<h2>Exclusions</h2>
								</div>
								<div class="process-list">
									<ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="structure-process">
								<div class="structure-process-head">
									<h2>Dreeshah Terms and Conditions</h2>
								</div>
								<div class="process-list">
									<ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="structure-process">
								<div class="structure-process-head">
									<h2>Terms and Conditions of Professional</h2>
								</div>
								<div class="process-list">
									<ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="structure-process">
								<div class="structure-process-head">
									<h2>Payment Terms</h2>
								</div>
								<div class="process-list">
									<!-- <ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul> -->
									<p class="payment-terms">Two Installments with 50% Payment Before Delivery and 50% payment After delivery</p>
								</div>
							</div>
							<div class="structure-process">
								<div class="structure-process-head">
									<h2>Work Schedule</h2>
								</div>
								<div class="process-list">
									<ul class="quotation-structure-list">
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
										<li>
											<span class="structure-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="quotation-client-details float-right">
								<div class="quotation-detail">
									<p><span class="structure-title">Name:</span> Sam Architects</p>
									<p><span class="structure-title">Date:</span> 21-dec-2020</p>
								</div>
							</div>
							<!-- <div class="send--btns mt-5" align="center">
								<button class="btn btn-change-fill">Send</button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>