.gift-card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart .items .cartSection{
    vertical-align: inherit;
}
.cart {
    padding-top: 38px;
}
.cart h4 {
    font-weight: 700;
    font-size: 20px;
}
.sav-later-btn {
    text-align: right;
}