/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { 
	left:  0px;
}
.right-addon .fa { 
	right: 189px;
	top: 25px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.general-validations{
	li{
		list-style: inside disc;
	}
}
.main-div {
	display:flex;
	background-color: #fff;
	width: 800px;
	margin: auto;
    box-shadow: 0px 0px 16px -2px rgba(53, 53, 53, 0.75);
}
.main-div  .login-Custcontent{
    background: #aedef2;
    border-top-right-radius: 200px;
    padding-left: 20px;
    padding-top: 40px;
}
.login-Custcontent .img-cust img{
    width: 200px;
}
.main-div  .login-Custcontent p {
	color: #102b4c;
	font-weight: initial;
    font-size: 20px;
    line-height: 2.2rem;
    padding-right: 10px !important;
    position: unset;
    max-width: 311px;
}
.CustPad{
    padding: 40px;
}
.log-head h1{
    color: #6a9792;
    text-align: left;
}
.log-head p{
    color: #525252;
    text-align: left;
}