<app-seller-header></app-seller-header>
<div class="seller-quotation-wrapper">
	<div class="custom-container d-flex">
		<app-seller-sidebar></app-seller-sidebar>
		<div class="main-wrap">
			<div class="card">
				<div class="card-body">
					<div class="dashboard-table-heading">
						<h1>Seller Modify Requests</h1>
					</div>
					<div class="dashboard-table margn-top">
						<table class="table table-bordered table-striped">
							<thead class="thead-light">
								<tr>
									<th scope="col">Sr no.</th>
									<th scope="col">Title</th>
									<th scope="col">Warrenty</th>
									<th scope="col">Offer Validity</th>
									<th scope="col">Price</th>
									<th scope="col">Total Quantity</th>
									<th scope="col">Vat</th>
									<th scope="col">Discount</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<th scope="row">7</th>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</td>
									<td>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
									<td class="">2 months only</td>
									<td>$10</td>
									<td>300pcs</td>
									<td>$10</td>
									<td>$10</td>
									<td><a routerLink="/seller-modify-request-details" class="btn btn-round-blue"><i class="fa fa-eye"></i></a></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
