.CustBack {
    background-color: transparent !important;
    border: none;
}
.camera-icon {
	position: absolute;
	bottom: 53px !important;
	right: 43px;
	background-color: #0b4c89;
	color: #fff;
	padding: 7px 7px 7px 7px;
	border-radius: 50%;
	font-size: 22px;
	z-index: 2;
}