<app-header></app-header>
<section class="Custom-login">
    <div class="main-div mt-5 mb-5">
        <div class="col-sm-6 login-Custcontent">
            <p>Manage all your account activity, work efficiently</p>
            <div class="image-cust">
                <img src="assets/imgs/forget.png" style="margin-top: 6rem;" alt="image"
                    class="img-fluid d-block ml-auto mr-auto  mb-3">
            </div>
        </div>
        <div class="col-sm-6 CustPad">
            <div class="log-head">
                <h1>Reset Password</h1>
                <p>Let's get you all set up so you can verify your personal account
                    and begin setting up your profile.</p><br />
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="fname">New Password</label>
                        <input matInput type="password" id="fname" formControlName="new_pass" class="form-control">
                    </div>
                    <div
                        *ngIf="resetForm.controls['new_pass'].invalid && (resetForm.controls['new_pass'].dirty || resetForm.controls['new_pass'].touched)">
                        <p style="color:red" *ngIf="resetForm.controls['new_pass'].errors.required">Please Enter
                            Password</p>
                        <p style="color:red" *ngIf="resetForm.controls['new_pass'].errors.pattern">Password must contain
                            At least 8 characters in length, Lowercase letters, Uppercase
                            letters, Numbers and Special characters.</p>
                    </div>
                    <div class="form-group">
                        <label for="fname">Confirm Password</label>
                        <input matInput type="password" id="fname" formControlName="con_pass" class="form-control"
                            [errorStateMatcher]="matcher">
                    </div>
                    <div
                        *ngIf="(resetForm.controls['con_pass'].dirty || resetForm.controls['con_pass'].touched)">
                        <p style="color:red" *ngIf="resetForm.hasError('notSame')">Password did not match</p>
                    </div>
                    <div align="left">
                        <button type="submit" class="btn btn-forgot-password  mt-2">Submit</button>
                        <p class="text-gray ">Back to <a routerLink="/login" class="theme-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>