<div class="consultant-sidebar-wrapper">
    <div class="d-flex" id="wrapper">
        <div id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <div class="sidebar-menu">
                    <ul class="no-list">
                        <li>
                            <a routerLink="/seller-dashboard" class="sidebar-list-item list-group-item list-group-item-action active"><i class="fa fa-chart-line mr-3"></i>Dashboard</a>
                        </li>
                        <li>
                            <div class="filter-accordion">
                                <div class="accordion" id="accordionList">
                                    <a href="" class="list-group-item sidebar-list-item list-group-item-action accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseList">
                                    <i class="fa fa-user mr-3"></i>My Profile 
                                    <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span>                                 
                                    </a>
                                    <div id="collapseList" class="collapse" aria-labelledby="headingOne" data-parent="#accordionList">
                                        <ul>
                                            <li><a routerLink="/photographerProfile" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-tasks mr-3"></i>Personal Information</a></li>
                                            <li><a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-pencil mr-3"></i>Address</a></li>
                                            <li><a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-key mr-3"></i>Change Password</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-heart mr-3"></i>My Membership</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-images mr-3"></i>My Reward Points</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-ticket mr-3"></i>My Subscriptions</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-shopping-cart mr-3"></i>My Advertisements</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-credit-card mr-3"></i>My Store locations</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Products</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>My Services</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Refund Management</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Earnings</a>
                        </li>
                        <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Inqueries</a>
                        </li>
                        <li>
                            <a href="#" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-sign-out mr-3"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
