
<!-- ACTUAL CODE STARTS FROM HERE -->


<app-seller-header></app-seller-header>
<div class="seller-appointments-wrapper">
    <div class="custom-container d-flex">
        <app-sidebar></app-sidebar>
        <div class="main-wrap">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--SEARCH CODE WILL BE HERE -->
                            <div class="form-group has-search input-group">
                                <!--  <span class="fa fa-search form-control-feedback"></span> -->
                                <!-- <input type=search name=s results=5 [(ngModel)]="searchValue" class="form-control"
                                    placeholder="Search">
                                <button class="btn btn-change-fill" (click)="search(searchValue)">Search</button> -->
                            </div>
                            <!-- tabs start -->

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Products</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Professional</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Services</a>
                                    <!-- <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
                                        href="#nav-about" role="tab" aria-controls="nav-about"
                                        aria-selected="false">About</a> -->
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent2">
                                <div class="tab-pane innerTabs fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-inns-tab" data-toggle="tab"
                                                href="#nav-inns" role="tab" aria-controls="nav-inns"
                                                aria-selected="true">All(0)</a>
                                            <a class="nav-item nav-link" id="nav-ungrouped-tab" data-toggle="tab"
                                                href="#nav-ungrouped" role="tab" aria-controls="nav-ungrouped"
                                                aria-selected="false"> Ungrouped(0)
                                            </a>
                                            <a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab"
                                                href="#nav-data" role="tab" aria-controls="nav-data"
                                                aria-selected="false"> 254654(0)
                                                <i class="fa fa-trash" aria-hidden="true"
                                                    style="margin-right: 10px; margin-left: 6px; font-size: 10px;"></i>
                                                <i class="fa fa-edit" aria-hidden="true" style="font-size: 10px;"></i>
                                            </a>
                                            <a class="nav-item nav-link" id="nav-newgrp-tab" data-toggle="tab"
                                                href="#nav-newgrp" role="tab" aria-controls="nav-newgrp"
                                                aria-selected="false"><i class="fa fa-plus" aria-hidden="true"
                                                    style="margin-right: 10px; font-size: 10px;"></i>
                                                <span data-toggle="modal" data-target="#exampleModal">Create new
                                                    group</span></a>
                                        </div>
                                    </nav>
                                    <div class="tab-pane fade show active" id="nav-inns" role="tabpanel"
                                        aria-labelledby="nav-inns-tab"
                                        >
                                        <!-- all first -->
                                        <div class="new-div" style="display: flex; padding-left: 5px; margin-top: 20px;">

                                            <div class="btnsNms">
                                                <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Compare</button>
                                            </div>
                                            <div class="btnsNms">
                                                <div class="user_drop">
                                                    <button mat-button [matMenuTriggerFor]="menu">
                                                        <button type="button" class="btn btn-light">Move to <i
                                                                class="fa fa-angle-down" aria-hidden="true"></i>
                                                        </button>
                                                    </button>
                                                    <mat-menu #menu="matMenu" xPosition="before">
                                                        <ul class="comnon_drop">
                                                            <li><a>Ungrouped</a></li>
                                                            <li><a>254654</a></li>
                                                        </ul>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Delete</button>
                                            </div>
    
                                        </div>
                                            <div class="images mt-4">
                                                <img style="width: 140px;
                                                height: 140px;" src="http://www.pngall.com/wp-content/uploads/5/Interior-Design-PNG-File-Download-Free.png" alt="website template image">
                                            </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-ungrouped" role="tabpanel"
                                        aria-labelledby="nav-ungrouped-tab"   >

                                        <!-- ungrouped first -->
                                        <div class="new-div" style="display: flex; padding-left: 5px; margin-top: 20px;">

                                            <div class="btnsNms">
                                                <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Compare</button>
                                            </div>
                                            <div class="btnsNms">
                                                <div class="user_drop">
                                                    <button mat-button [matMenuTriggerFor]="menu">
                                                        <button type="button" class="btn btn-light">Move to <i
                                                                class="fa fa-angle-down" aria-hidden="true"></i>
                                                        </button>
                                                    </button>
                                                    <mat-menu #menu="matMenu" xPosition="before">
                                                        <ul class="comnon_drop">
                                                            <li><a>Ungrouped</a></li>
                                                            <li><a>254654</a></li>
                                                        </ul>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Delete</button>
                                            </div>
    
                                        </div>
                                            <div class="images mt-4">
                                                <img style="width: 140px;
                                                height: 140px;" src="http://www.pngall.com/wp-content/uploads/5/Interior-Design-PNG-File-Download-Free.png" alt="website template image">
                                            </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-data" role="tabpanel"
                                        aria-labelledby="nav-data-tab">
                                        <!-- 25465 first -->
                                        <div class="new-div" style="display: flex; padding-left: 5px; margin-top: 20px;">

                                            <div class="btnsNms">
                                                <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Compare</button>
                                            </div>
                                            <div class="btnsNms">
                                                <div class="user_drop">
                                                    <button mat-button [matMenuTriggerFor]="menu">
                                                        <button type="button" class="btn btn-light">Move to <i
                                                                class="fa fa-angle-down" aria-hidden="true"></i>
                                                        </button>
                                                    </button>
                                                    <mat-menu #menu="matMenu" xPosition="before">
                                                        <ul class="comnon_drop">
                                                            <li><a>Ungrouped</a></li>
                                                            <li><a>254654</a></li>
                                                        </ul>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Delete</button>
                                            </div>
    
                                        </div>
                                            <div class="images mt-4">
                                                <img style="width: 140px;
                                                height: 140px;" src="http://www.pngall.com/wp-content/uploads/5/Interior-Design-PNG-File-Download-Free.png" alt="website template image">
                                            </div>
                                    </div>
                                </div>
                                <div class="tab-pane innerTabs fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-inns-tab" data-toggle="tab"
                                                href="#nav-inns" role="tab" aria-controls="nav-inns"
                                                aria-selected="true">All(0)</a>
                                            <a class="nav-item nav-link" id="nav-ungrouped-tab" data-toggle="tab"
                                                href="#nav-ungrouped" role="tab" aria-controls="nav-ungrouped"
                                                aria-selected="false"> Ungrouped(0)
                                            </a>
                                            <a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab"
                                                href="#nav-data" role="tab" aria-controls="nav-data"
                                                aria-selected="false"> 254654(0)
                                                <i class="fa fa-trash" aria-hidden="true"
                                                    style="margin-right: 10px; margin-left: 6px; font-size: 10px;"></i>
                                                <i class="fa fa-edit" aria-hidden="true" style="font-size: 10px;"></i>
                                            </a>
                                            <a class="nav-item nav-link" id="nav-newgrp-tab" data-toggle="tab"
                                                href="#nav-newgrp" role="tab" aria-controls="nav-newgrp"
                                                aria-selected="false"><i class="fa fa-plus" aria-hidden="true"
                                                    style="margin-right: 10px; font-size: 10px;"></i>
                                                <span data-toggle="modal" data-target="#exampleModal">Create new
                                                    group</span></a>
                                        </div>
                                    </nav>
                                    <div class="tab-pane fade show active" id="nav-inns" role="tabpanel"
                                        aria-labelledby="nav-inns-tab">
                                        <!-- all second -->
                                        <div class="new-div" style="display: flex; padding-left: 5px; margin-top: 20px;">

                                            <div class="btnsNms">
                                                <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Compare</button>
                                            </div>
                                            <div class="btnsNms">
                                                <div class="user_drop">
                                                    <button mat-button [matMenuTriggerFor]="menu">
                                                        <button type="button" class="btn btn-light">Move to <i
                                                                class="fa fa-angle-down" aria-hidden="true"></i>
                                                        </button>
                                                    </button>
                                                    <mat-menu #menu="matMenu" xPosition="before">
                                                        <ul class="comnon_drop">
                                                            <li><a>Ungrouped</a></li>
                                                            <li><a>254654</a></li>
                                                        </ul>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Delete</button>
                                            </div>
    
                                        </div>
                                            <div class="images mt-4">
                                                <img style="width: 140px;
                                                height: 140px;" src="http://www.pngall.com/wp-content/uploads/5/Interior-Design-PNG-File-Download-Free.png" alt="website template image">
                                            </div>>
                                    </div>
                                    <div class="tab-pane fade" id="nav-ungrouped" role="tabpanel"
                                        aria-labelledby="nav-ungrouped-tab">dsfszdfsfdsdfsd</div>
                                    <div class="tab-pane fade" id="nav-data" role="tabpanel"
                                        aria-labelledby="nav-data-tab">3</div>
                                </div>
                                <div class="tab-pane innerTabs fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-inns-tab" data-toggle="tab"
                                                href="#nav-inns" role="tab" aria-controls="nav-inns"
                                                aria-selected="true">All(0)</a>
                                            <a class="nav-item nav-link" id="nav-ungrouped-tab" data-toggle="tab"
                                                href="#nav-ungrouped" role="tab" aria-controls="nav-ungrouped"
                                                aria-selected="false"> Ungrouped(0)
                                            </a>
                                            <a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab"
                                                href="#nav-data" role="tab" aria-controls="nav-data"
                                                aria-selected="false"> 254654(0)
                                                <i class="fa fa-trash" aria-hidden="true"
                                                    style="margin-right: 10px; margin-left: 6px; font-size: 10px;"></i>
                                                <i class="fa fa-edit" aria-hidden="true" style="font-size: 10px;"></i>
                                            </a>
                                            <a class="nav-item nav-link" id="nav-newgrp-tab" data-toggle="tab"
                                                href="#nav-newgrp" role="tab" aria-controls="nav-newgrp"
                                                aria-selected="false"><i class="fa fa-plus" aria-hidden="true"
                                                    style="margin-right: 10px; font-size: 10px;"></i>
                                                <span data-toggle="modal" data-target="#exampleModal">Create new
                                                    group</span></a>
                                        </div>
                                    </nav>
                                    <div class="tab-pane fade show active" id="nav-inns" role="tabpanel"
                                        aria-labelledby="nav-inns-tab">
                                        <!-- all second  -->
                                        <div class="new-div" style="display: flex; padding-left: 5px; margin-top: 20px;">

                                            <div class="btnsNms">
                                                <div class="custom-control custom-checkbox" style="margin-top: 5px;">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1"></label>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Compare</button>
                                            </div>
                                            <div class="btnsNms">
                                                <div class="user_drop">
                                                    <button mat-button [matMenuTriggerFor]="menu">
                                                        <button type="button" class="btn btn-light">Move to <i
                                                                class="fa fa-angle-down" aria-hidden="true"></i>
                                                        </button>
                                                    </button>
                                                    <mat-menu #menu="matMenu" xPosition="before">
                                                        <ul class="comnon_drop">
                                                            <li><a>Ungrouped</a></li>
                                                            <li><a>254654</a></li>
                                                        </ul>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                            <div class="btnsNms">
                                                <button type="button" class="btn btn-light">Delete</button>
                                            </div>
    
                                        </div>
                                            <div class="images mt-4">
                                                <img style="width: 140px;
                                                height: 140px;" src="http://www.pngall.com/wp-content/uploads/5/Interior-Design-PNG-File-Download-Free.png" alt="website template image">
                                            </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-ungrouped" role="tabpanel"
                                        aria-labelledby="nav-ungrouped-tab">2</div>
                                    <div class="tab-pane fade" id="nav-data" role="tabpanel"
                                        aria-labelledby="nav-data-tab">3</div>
                                </div>
                                <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <h5> this is second tab</h5>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries,
                                </div> -->
                                <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <h5>Third tab</h5>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries,
                                </div> -->
                                <!-- <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    <h5>fourth tab</h5>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries,
                                </div> -->
                            </div>
                            <!-- tabs end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:70%; text-align: center;">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">New Group</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <form>
                    <input class="w3-input w3-border-0 form-control" placeholder="Name" type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color: #0b4c89;">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    style="background-color: rgb(255, 255, 255); color: black;">Cancel</button>
            </div>
        </div>
    </div>
</div>