
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    background-color: #f1f1f1;
    border-top: 5px solid #0B4C89 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 3px;
    }
    ::ng-deep .seller-appointments-wrapper .mat-tab-group.mat-primary .mat-ink-bar, .seller-appointments-wrapper .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: unset;
        visibility: hidden;
        display: none;
    }
    ::ng-deep .mat-tab-label:nth-child(1){
        margin-left: 0 !important;
    }

   ::ng-deep .mat-tab-label {
        height: 48px;
        padding: 0 24px;
        cursor: pointer;
        box-sizing: border-box;
        opacity: .6;
        min-width: 160px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        position: relative;
        border: 1px solid #c2c2c2 !important;
        border-bottom: none !important;
        margin: 0 5px !important;
        border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    }
    ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label{
        position: relative;
    }  

  
    .tab-content>.active {
        display: block;
        padding: 25px;
        background-color: #eee;
    }
    .nav-tabs .nav-link.active {
        background-color: #eee;
        padding: 10px;
        border-top: 3px solid #0b4c89;
        border-bottom:none!important;

    }
    .nav-tabs .nav-link {
        padding: 10px;
        background-color: #fbfbfb;
        border: 1px solid #e7e7e7;
        margin-right: 8px;
        padding: 10px 20px;
        width: 121px;
        border-radius: 0;
        text-align: center;
    }
    .nav-tabs .nav-link:hover{
        background-color: #cdcdcd;
    } 
    .innerTabs .nav-link, .innerTabs .nav-link :hover {
        
        background-color: transparent !important;
        border: none !important;
        width: auto;
    }
    .innerTabs .nav-tabs.nav-link :hover {
        color: #0b4c89;
    }
    .btnsNms .btn.btn-light {
        border: 1px solid #d7d6d6;
    }
    .innerTabs .fade:not(.show) {
        display: none !important;
    }
    .CustBtn{
        padding: 8px;
        border-radius: 5px;
        background: #6a9792;
        border: none;
        color: #fff;
}
.SpPadding{
    padding-left: 110px !important;
}
.Spborder{
    border-right: 1px solid #c1c1c1;
}