<!-- <app-db-header></app-db-header> -->
<app-seller-header></app-seller-header>
<div class="dashboard-wrapper">
    <div class="custom-container d-flex">
        <app-sidebar></app-sidebar>
        <div class="main-wrap">
        	<div class="card">
        		<div class="card-body">
        			<div class="row">
        				<div class="col-md-12">
        					<div class="card margn-top seller-quotation-d-card">
								<div class="card-body">
									<div class="dashboard-table-heading border-bottom">
										<h1>{{detail?.service_name}}</h1>
									</div>
									<div class="form-info-quotation">
										<div class="row">	
											<div class="col-md-9">
												<div class="form-field-data">
													<div class="request_summary">
														<h3>Request Summary</h3>
														<p>Quotation Ref: {{detail?.quotation_ref}}</p>
														<p>Date: {{detail?.date}}{{detail?.time}}</p>
														<h4>Subject: {{detail?.service_name}}</h4>
													</div>
													<p class="mt-3">
														<span class="form-label-data">Customer Name:</span> <span class="form-value-data">{{detail?.name}}</span>
													</p>
													<p>
														<span class="form-label-data">Email:</span> <span class="form-value-data">{{detail?.email}}</span>
													</p>
													<p>
														<span class="form-label-data">Phone Number:</span> <span class="form-value-data">{{detail?.phone_number}}</span>
													</p>
													<!-- <p>
														<span class="form-label-data">Quotation ref:</span> <span class="form-value-data">{{detail?.quotation_ref}}</span>
													</p> -->
													<p>
														<span class="form-label-data">Date:</span> <span class="form-value-data">{{detail?.date}}{{detail?.time}}</span>
													</p>
													<p>
														<span class="form-label-data">Sales Representative:</span> <span class="form-value-data">{{detail?.sales_representative}}</span>
													</p>
													<p>
														<!-- <span class="form-label-data">Service Name:</span> <span class="form-value-data">{{detail?.service_name}}</span> -->
													</p>
													<p>
														<span class="form-label-data">Location:</span> <span class="form-value-data">{{detail?.location}}</span>
													</p>
													<!-- <p>
														<span class="form-label-data">Quotation Number:</span> <span class="form-value-data">{{detail?.quotation_no}}</span>
													</p>
													<p>
														<span class="form-label-data">Quantity:</span> <span class="form-value-data">{{detail?.quantity}}</span>
													</p> -->
													<p>
														<span class="form-label-data">Expected Date of Service:</span> <span class="form-value-data">{{detail?.expected_date}}</span>
													</p>
													<p>
														<span class="form-label-data">Estimated Budget:</span> <span class="form-value-data">{{detail?.estimated_budget}}</span>
													</p>
													<p>
														<span class="form-label-data">Description:</span> <span class="form-value-data">
														{{detail?.description}}</span>
													</p>
												</div>
												<h1 class="mt-4">Professional detail</h1>
												<div class="form-field-data">
													<p>
														<span class="form-label-data">first_name :</span> <span class="form-value-data">{{detail?.professional_id?.first_name}}</span>
															
													</p>
													<p>
														<span class="form-label-data">Email:</span> <span class="form-value-data">{{detail?.professional_id?.email}}</span>
													</p>
													<p>
														<span class="form-label-data">country:</span> <span class="form-value-data">{{detail?.professional_id?.country}}</span>
													</p>
													<p>
														<span class="form-label-data">state :</span> <span class="form-value-data">{{detail?.professional_id?.state}}</span>
													</p>
													<!-- <p>
														<span class="form-label-data">Date:</span> <span class="form-value-data">{{detail?.date}}{{detail?.time}}</span>
													</p> -->
													<p>
														<span class="form-label-data">phone_number </span> <span class="form-value-data">{{detail?.professional_id?.phone_number}}</span>
													</p>
													<p>
														<span class="form-label-data">city</span> <span class="form-value-data">{{detail?.professional_id?.city}}</span>
													</p>
													<!-- <p>
														<span class="form-label-data">Location:</span> <span class="form-value-data">{{detail?.location}}</span>
													</p>
													<p>
														<span class="form-label-data">Quotation Number:</span> <span class="form-value-data">{{detail?.quotation_no}}</span>
													</p>
													<p>
														<span class="form-label-data">Quantity:</span> <span class="form-value-data">{{detail?.quantity}}</span>
													</p>
													<p>
														<span class="form-label-data">Expected Date of Service:</span> <span class="form-value-data">{{detail?.expected_date}}</span>
													</p>
													<p>
														<span class="form-label-data">Estimated Budget:</span> <span class="form-value-data">{{detail?.estimated_budget}}</span>
													</p>
													<p>
														<span class="form-label-data">Description:</span> <span class="form-value-data">
														{{detail?.description}}</span>
													</p> -->
												</div>
											</div>
											 <div class="col-md-3">
												<div class="quotation-detail">
													<a class="btn btn-change-fill" role="button" routerLink="/customer-issue-quotation/{{detail?._id}}" [queryParams]="{status:detail?.status }" >View Quotation</a>
												</div>
											</div> 
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
<app-footer></app-footer>