<app-seller-header></app-seller-header>

<div class="dashboard-wrapper">
	<div class="custom-container d-flex">
        <app-seller-sidebar></app-seller-sidebar>
		<div class="main-wrap">
			<div class="dashboard-heading">
                <h1 class="text-left">Change Password</h1>
            </div>
			
            <section class="Custom-login">
                <div class="main-div mb-5">
                    <div class="col-sm-6 login-Custcontent">
                        <div class="image-cust">
                            <img src="assets/imgs/forget.png" style="margin-top: 6rem;" alt="image" class="img-fluid d-block ml-auto mr-auto  mb-3">
                        </div>
                    </div>
                    <div class="col-sm-6 CustPad">
                        <div class="log-head">
                            <h1>Change Password</h1>
                           
                            <form>
								<div class="form-group col-sm change-password-form">
									<mat-form-field>
										<mat-label> Old Password</mat-label>
										<input matInput [type]="hide ? 'password' : 'text'"
											[formControl]="customerForm.controls['oldpassword']" [(ngModel)]="oldpassword">
										<button mat-icon-button matSuffix (click)="hide = !hide"
											[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
											<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</button>
									</mat-form-field>
									<p style="color: #E80358"
										*ngIf="!customerForm.controls['oldpassword'].valid  && ( customerForm.controls['oldpassword'].touched)">
										Please Enter Old Password </p>
								</div>

								<div class="form-group col-sm change-password-form">
									<mat-form-field>
										<mat-label>New Password</mat-label>
										<input matInput [type]="hide ? 'password' : 'text'"
											[formControl]="customerForm.controls['password']" [(ngModel)]="password">
										<button mat-icon-button matSuffix (click)="hide = !hide"
											[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
											<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</button>
									</mat-form-field>
									<p style="color: #E80358"
										*ngIf="!customerForm.controls['password'].valid  && ( customerForm.controls['password'].touched)">
										Please provide valid password </p>
                                        <p style="color: #E80358"
										*ngIf="passcheck==true">
                                        old and new password can not be same </p>
								</div>

								<div class="form-group col-sm change-password-form">
									<mat-form-field>
										<mat-label>Confirm New Password</mat-label>
										<input matInput [type]="hideC ? 'password' : 'text'"  (click)="pssCheckfeild()"
											[formControl]="customerForm.controls['confirm_password']">
										<button mat-icon-button matSuffix (click)="hideC = !hideC"
											[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
											<mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
										</button>
									</mat-form-field>
									<p style="color: #E80358"
										*ngIf="!customerForm.controls['confirm_password'].valid  && ( customerForm.controls['confirm_password'].touched)">
										Please provide valid Password
									</p>
									<p style="color: #E80358"
										*ngIf="customerForm.hasError('notSame') && ( customerForm.controls['confirm_password'].touched)">
										Password did not match</p>
								</div>
								<div class="general-validations ml-3">
									<ul>
										<li>Password should Contain Capital Letters</li>
										<li>Password should Contain 1 Digit.</li>
										<li>Password should Contain 1 Special Character.</li>
										<li>Password should contain a minimum of 8 characters</li>
									</ul>
								</div>
								<div align="center">
									<button type="submit" class="btn btn-change-password ml-3 mt-2"
										(click)="changePassword()" [disabled]="!customerForm.valid">Submit</button>
									
								</div>
							</form>
                        </div>
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>

<app-footer></app-footer>