<app-header></app-header>
<section class="forgot-password">
	<div class="container">
		<div class="forgot-password-container">
			<div class="card mt-5 mb-5">
				<div class="card-body forgot-password-card">
					<div class="row">
						<div class="col-md-4 forgot-password-column">
							<div class="forgot-password-bg">
								<img src="assets/imgs/forgot-password.png" alt="image" class="img-fluid ml-2">
								<div class="forgot-password-content">
									<p>Manage all your account activity, work efficiently</p>
								</div>
							</div>
						</div>
						<div class="col-md-8 mt-5 forgot-password-col">
							<div class="forgot-password-heading">
								<h1 class="ml-3">Forgot Password</h1>
								<p class="ml-3">Let's get you all set up so you can verify your personal account<br/> and begin setting up your profile.</p>
							</div>
							<form>
							<div class="form-group col-sm forgot-password-form">
								<mat-form-field appearance="">
                                    <mat-label>Email Address or Phone Number</mat-label>
                                    <input matInput placeholder="johndoe@gmail.com" required [formControl]="customerForm.controls['email']" [(ngModel)]="email"> 
                                </mat-form-field>
                                <p style="color: #E80358"  *ngIf="!customerForm.controls['email'].valid  && ( customerForm.controls['email'].touched)" >Please provide valid Email address</p>
							</div>
						
							<div align="left">
									<button type="button" class="btn btn-forgot-password ml-3 mt-2" (click)="forgotPass()" [disabled]="!customerForm.valid">Submit</button> 
									<p class="text-gray ml-3">Don't have an account? <a routerLink="/signup" class="theme-link">Sign up</a></p>
								</div>		
						</form>
						<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body verification-modal" align="center">
												<div class="verification-modal-wrapper">
													<h1 class="text-center" id="exampleModalLabel">Please Enter One Time Password to Change Password</h1>
												<h4 class="text-center">A one time password has been sent to your email</h4>
												<form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off" [formGroup]="otpForm">
													<input type="text" id="digit-1" name="digit-1" data-next="digit-2" [formControl]="otpForm.controls['first']" [(ngModel)]="first"/>
							                        <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" [formControl]="otpForm.controls['second']" [(ngModel)]="second"/>
							                        <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" [formControl]="otpForm.controls['third']" [(ngModel)]="third"/>
							                        <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" [formControl]="otpForm.controls['fourth']" [(ngModel)]="fourth"/>
							                        <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" [formControl]="otpForm.controls['fifth']" [(ngModel)]="fifth"/>
							                        <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" [formControl]="otpForm.controls['sixth']" [(ngModel)]="sixth"/> 
							                    </form>
												<div class="mt-3">
													<!-- <span class="theme-link mr-3">01:00</span> -->
													<a><button type="submit" class="btn btn-outline-blue" (click)="validateOtp()" [disabled]="!otpForm.valid">Validate</button></a>
													<!-- <p class="text-gray"><a href="" class="theme-link
														">Resend</a>  One Time Password</p> -->
												</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</section>

<app-footer></app-footer>