.moretext{
	display: none;
}
.map_vew{
	width: 100%;
	height: 500px;
}
.headerr{
    background-color: #fff;
    color: #000 !important;
}
.inp-cst{
    padding: 8px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #6A9792;
}
.bnt-cst{
    right: 0;
    padding: 9px 15px;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #6A9792;
    color: #fff;
}
.Sphr{
    border-top: 1px solid #d1d1d1;
}
.customSP_container {
	max-width: 100%;
	margin: 0 0;
	padding: 0;
	margin: auto;
}
.cl_ic{
    float: right;
    // display: none;
    border: 0px;
    background: none;
    opacity: 0;
    
}
::ng-deep mat-option:hover .cl_ic_2{
color: #000 !important;
opacity: 1;
}

.clr_div{
    width: 100%;
    text-align: right;
}
.clr_al {
    border: none;
    background: transparent;
    font-size: 15px;
    margin: 7px;
    color: #a8a8a8;
}
.header_srch ::ng-deep.mat-form-field-underline {
    height:0px!important;
}
