.gft_status{
    border-bottom: 1px solid #ededed;
    padding: 8px 0px;
}
.icon_gstat i{
	color: #6a9792;
	font-size: 20px;
	margin-top: 6px;
}
.gtf_info{
	margin-left: 10px;
}
.rmv_dnom{
	display: inline-block;
	padding: 5px;
}
.rmv_dnom i{
	font-size:18px;
}