.issued{
    margin-top: 12px;
    color: #495057 !important;
    font-weight: 500 !important;
    margin-bottom: .0rem  !important;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #495057 !important;
    font-weight: 500 !important;
    font-size: 10px;
  }
.btn-pos{
    position: absolute;
    right: -10px;
    top: -7px;

}

.div-pos{
    position: relative;
}
.signup-bg {
    background-color: #aedef200;
    height: 100%;
    width: 100%;
}
