
<app-seller-header></app-seller-header>
	<section class="seller-quotation-wrapper">
		<!-- <div class="seller-quotation-wrapper"> -->
			<div class="custom-container d-flex">
				<app-seller-sidebar></app-seller-sidebar>
<div class="container">
    <h1 class="text-center"> Add Quotation</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="" 
                         >
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Warranty</mat-label>
                    <input matInput placeholder="" 
                         >
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Offer is valid for</mat-label>
                    <input matInput placeholder="" 
                         >
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Days</mat-label>
                    <mat-select [formControl]="days" multiple>
                      <mat-select-trigger>
                        {{days.value ? days.value[0] : ''}}
                        <span *ngIf="days.value?.length > 1" class="example-additional-selection">
                          (+{{days.value.length - 1}} {{days.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let days of daysList" [value]="days">{{days}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="" 
                         >
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <mat-form-field appearance="">
                        <mat-label>Vat</mat-label>
                        <input matInput placeholder="" 
                             >
                    </mat-form-field>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Total Price</mat-label>
                    <input matInput placeholder="" 
                         >
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <mat-form-field appearance="">
                        <mat-label>No. of Section</mat-label>
                        <input matInput placeholder="" 
                             >
                    </mat-form-field>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Scope of work</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <mat-form-field appearance="">
                        <mat-label>Exclusions</mat-label>
                        <textarea matInput placeholder=""></textarea>
                    </mat-form-field>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field appearance="">
                    <mat-label>Add terms and conditions of Dreesha</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <mat-form-field appearance="">
                        <mat-label>Add terms and conditions of Seller</mat-label>
                        <textarea matInput placeholder=""></textarea>
                    </mat-form-field>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                
                    <mat-label>Payment Terms</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">One time payment</mat-radio-button>
                    <mat-radio-button value="2">Second installment percentage </mat-radio-button>
                    <mat-radio-button value="3">Third installment percentage</mat-radio-button>
                  </mat-radio-group>
                
                <!-- <mat-form-field appearance="">
                    <mat-label>Payment Terms</mat-label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2">Option 2</mat-radio-button>
                      </mat-radio-group>
                </mat-form-field> -->
            </div>
        </div></div>
        <div class="row">
        
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <mat-form-field appearance="">
                        <input matInput placeholder="First installment percentage" 
                        >
                    </mat-form-field>
                    <mat-form-field appearance="">
                        <input matInput placeholder="Second installment percentage" 
                        >
                    </mat-form-field>
                    <mat-form-field appearance="">
                        <input matInput placeholder="Third installment percentage" 
                        >
                    </mat-form-field>
                </div>
                  
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h5 class="float-left">click on plus icon to add module</h5>	
        <div class="float-right">
            <button class="btn btn-round-blue"><i class="fa fa-plus"></i></button>
            <button class="btn btn-round-blue"><i class="fa fa-pencil"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input matInput placeholder="Module" 
            >
           <input matInput placeholder="Module Description" 
            >
            <mat-form-field appearance="fill">
               
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div></div>
        <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
        </div>
    </div>
    <button type="submit"  class="btn btn-change-fill" (click)="issueQuotationmodify()"
     >Submit</button>   
   
    
    
</div></div></section>
<app-footer></app-footer>