<app-seller-header></app-seller-header>
<div class="seller-cr-ordr-mgmt-wrpr">
    <div class="custom-container d-flex">
        <app-seller-sidebar></app-seller-sidebar>
        <div class="main-wrap">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Seller Service Details</h1>
                        </div>
                        <div class="col-md-12">
                            <div class="cr-ordr-frm">
                                <div class="card">
                                    <div class="card-body">
                                        <form [formGroup]="formGroup">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Service Name</label>
                                                    <input disabled  type="text" class="form-control" formControlName="service_name">
                                                </div>
                                            </div>
                                           
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Service Country</label>
                                                    <select disabled type="text" class="form-control"  formControlName="country" >
                                                    <option *ngFor="let country of countries"
                                                    [value]="country.isoCode">
                                                    {{country?.name}}
                                                </option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Area Covered City</label>
                                                    <select disabled type="text" class="form-control"
                                                    formControlName="city">
                                                    <option *ngFor="let city of cities"
                                                    [value]="city.name">
                                                    {{city.name}}
                                                </option>
                                                </select>
                                                </div>
                                            </div>
                                            <!-- <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Project Cost In AED</label>
                                                    <input disabled type="text" class="form-control" >
                                                </div>
                                            </div> -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Service Category</label>
                                                    <select disabled type="text" class="form-control"   formControlName="service_category">
                                                    <option *ngFor="let category of categiryArr"
                                                    [value]="category._id">
                                                    {{category.name}}
                                                </option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Service Sub Category</label>
                                                    <select disabled type="text" class="form-control" formControlName="service_sub_category">

                                                        <option *ngFor="let SubCat of subCatArr"
                                                        [value]="SubCat._id">
                                                        {{SubCat.name}}
                                                    </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="">Description</label>
                                                    <textarea disabled type="text" value="" rows="4" class="form-control"
                                                    [innerHTML]="getInnerHTML(desc)"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="">Service Image</label>
                                                <div class="form-group text-center myborder">
                                                    <!-- <p><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""></p> -->
                                                    <p> <img src="{{image_path}}{{serviceImage}}"
                                                        class="img-fluid drp-thumb"></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <label for="" class="mt-3">Service Related Image</label>
                                                <div class="col-sm-12 myDashedBorder">
                                                    <div class="col-sm-3">
                                                        <div class="form-group text-center ">
                                                            <!-- <p><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""></p> -->
                                                           <p> <img src="{{image_path}}{{relatedImage}}"
                                                            class="img-fluid drp-thumb"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <label class="mt-3" for="">Service Other Image</label>
                                                <div class="col-sm-12 myDashedBorder">
                                                    <div class="col-sm-3">
                                                        <div class="form-group text-center ">
                                                            <p><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <label class="mt-3" for="">Service Video</label>
                                                <div class="col-sm-12 myDashedBorder">
                                                    <div class="col-sm-3">
                                                        <div class="form-group text-center ">
                                                            <p>
                                                                <!-- <video src="" controls width="200" height="200">
                                                                   
                                                                </video> -->
                                                                <video width="260" height="160" controls>
                                                                    <source src="{{image_path}}{{otherImage}}" type="video/mp4">
                                                                  
                                                                  </video>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="" class="mt-3">Service Price</label>
                                                <div class="form-group text-center ">
                                                    <input disabled type="text" class="form-control"  formControlName="service_price" >
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="">Service Duration</label>
                                                <div class="form-group text-center ">
                                                    <input disabled type="text" class="form-control"  formControlName="service_duration" >
                                                </div>
                                            </div>
                                            <!-- <div class="col-sm-12">
                                                <label for="">Option</label>
                                                <div class="form-group text-center ">
                                                    <input disabled type="text" class="form-control" >
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-sm-12">
                                                <label for="">Service Tags</label>
                                                <div class="form-group text-center ">
                                                    <input disabled type="text" class="form-control" >
                                                </div>
                                            </div> -->

                                            

                                            <!-- <div class="form-group">
                                                <div class="seller-prod-list-heading signup-form">
                                                    <label>This Service Will be Visible to</label><br />
                                                    <mat-checkbox class="example-margin"
                                                        formControlName="service_visible_professional">
                                                        Professional
                                                    </mat-checkbox>
                                                    <br />
                                                    <mat-checkbox class="example-margin"
                                                        formControlName="service_visible_customer">
                                                        Customer
                                                    </mat-checkbox>
                                                    <br />
                                                </div>
                                            </div> -->

                                            <div class="service--submt-btn" align="center">
                                                <button class="btn btn-change-fill mr-2" routerLink="/seller-service-list" >Back</button>
          
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>