<app-seller-header></app-seller-header>
	<section class="seller-quotation-wrapper">
        <div class="custom-container d-flex">
            <app-seller-sidebar></app-seller-sidebar>
            <div class="main-wrap">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="card">
                            
                            <div class="card-body cc-new">
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                     Details
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Name</label>
                                                                <h4>lorem ipsum</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Category</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Sub Category</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Description</label>
                                                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi praesentium a expedita perspiciatis sed nisi voluptatum aut sapiente? Illum perferendis numquam autem dicta ab. Autem quasi veniam facilis labore.</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Media Details
                                                </h2>
                                                <div class="d-flex cstm-flex">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                    <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Pricing Details
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Price</label>
                                                                <h4>lorem ipsum</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Compare at Price</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Cost Per Item</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Margin</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Profit</label>
                                                                <h4>czsckj</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Inventory Details
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Inventory Type</label>
                                                                <h4>lorem ipsum</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">SKU <small>(Stock Keeping Unit)</small></label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Barcode (ISBN, UPC, GTIN etc.)</label>
                                                                <h4>cxcxcz</h4>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Quantity Details
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Location Name</label>
                                                                <h4>lorem ipsum</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Heading</label>
                                                                <h4>58</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Heading</label>
                                                                <h4>58</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Heading</label>
                                                                <h4>58</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Heading</label>
                                                                <h4>58</h4>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Shipping Details
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Weight</label>
                                                                <h4>Unit</h4> 
                                                            </div>
                                                        </div>
                                                       
                                                    
                                                       
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Custom Inforamtion
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme"> Country Region of Origin</label>
                                                                <h4>Unit</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">HS (Harmonized System) Code</label>
                                                                <h4>Pseb (Punjab School Education Board)</h4> 
                                                            </div>
                                                        </div>
                                                       
                                                       
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Varient Inforamtion
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Varient Size</label>
                                                                <h4>vcxcxcx</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Varient Color </label>
                                                                <h4>Red</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Varient Color Code</label>
                                                                <h4>#fff</h4> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <h2 class="txt-theme text-left">
                                                Product Visibility
                                            </h2>
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <h4>Professional</h4> 
                                                            <h4>Customer</h4> 
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h2 class="txt-theme text-left">
                                                    Organization
                                                </h2>
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Product Type</label>
                                                                <h4>vcxcxcx</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Vendor</label>
                                                                <h4>Red</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Collection</label>
                                                                <h4>#fff</h4> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Tags</label>
                                                                <h4>
                                                                    <span>tag 1,</span>
                                                                    <span>tag 2,</span>
                                                                    <span>tag 3,</span>
                                                                    <span>tag 4,</span>
                                                                    <span>tag 5</span>
                                                                </h4> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

 