<app-seller-header></app-seller-header>
	<section class="seller-quotation-wrapper">
		<!-- <div class="seller-quotation-wrapper"> -->
			<div class="custom-container d-flex">
				<app-seller-sidebar></app-seller-sidebar>
				<div class="main-wrap">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Quotation Ref: {{quote_ref}}</h4>
                    </div>
                    <div class="card-body">
                       
                        <div class="selct_type_expands faq_append_lists">
                            <mat-accordion>
                                <div >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <span class=form-label-data>Summary</span> 
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                       <div class="panel_body_text">
                                        <span class=form-value-data>{{user?.title}}</span> 
                                       </div>
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                            <mat-accordion>
                                <div >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class=form-label-data>Scope of Work</span> 
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                       <div class="panel_body_text">
                                   {{user?.scope_of_work}}
                                       </div>
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                            <mat-accordion>
                                <div >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class=form-label-data>Exclusions</span>
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                       <div class="panel_body_text">
                                   {{user?.exclusion}}
                                       </div>
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                            <mat-accordion>
                                <div >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class=form-label-data>Dreeshah Terms and Conditions</span> 
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                       <div class="panel_body_text">
                                   {{user?.dreeshah_terms}}
                                       </div>
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                            <mat-accordion>
                                <div >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class=form-label-data>Payment Terms</span> 
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                       <div class="panel_body_text">
                                   {{user?.payment_terms?.length}} Milestone
                                       </div>
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                            <mat-accordion>
                                <div *ngFor="let item of user.payment_terms,let i=index" >
                                    <mat-expansion-panel>
                                     <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span class=form-label-data>Milestone {{i+1}}</span> 
                                        </mat-panel-title>
                                         </mat-expansion-panel-header>
                                         <div class="d-flex justify-content-between">
                                            <div class="panel_body_text">Milestone Budget: {{user?.payment_terms[i]?.payment_percent}}</div>
                                            <div class="panel_body_text">Milestone Status: <span class="badge badge-success status-badge">{{user?.payment_terms[i]?.status}}</span></div>
                                        </div>
                                       <div class="panel_body_text">Start Date:  {{user?.payment_terms[i]?.start_date | date}}</div>
                                       <div class="panel_body_text">End Date:  {{user?.payment_terms[i]?.end_date | date}}</div>
                                       
                                       <!-- <cdk-accordion class="example-accordion">
                                        <cdk-accordion-item
                                        #accordionItem="cdkAccordionItem"
                                        class="example-accordion-item"
                                        role="button"
                                        tabindex="0"
                                        [attr.id]="'accordion-header-'"
                                        [attr.aria-expanded]="accordionItem.expanded"
                                        [attr.aria-controls]="'accordion-body-'">
                                        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                            FeedBack
                                            <span class="example-accordion-item-description">
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                                
                                            </span>
                                        </div>
                                        <div
                                            class="example-accordion-item-body"
                                            role="region"
                                            [style.display]="accordionItem.expanded ? '' : 'none'"
                                            [attr.id]="'accordion-body-'"
                                            [attr.aria-labelledby]="'accordion-header-'">
                                            {{user?.payment_terms[i]?.feedback}}
                                          
                                        </div>
                                        </cdk-accordion-item>
                                    </cdk-accordion> -->
                                    <div class="text-right">
                                        <button *ngIf="user?.payment_terms[i]?.feedback" data-dismiss="modal" data-target="#viewFeedback" data-toggle="modal" class="btn btn-change-fill">View Feedback</button>
                                    </div>
    
                    
                                    </mat-expansion-panel>
                                </div>
                            </mat-accordion>
                           
                        </div>
                     
                        
                        <div  class="col-md-12 mt-3" align="center">
                            <button *ngIf="!this.isButtonVisible ||this.status1=='approved' " (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelOrCreateQuatationOrder1()" >Pay for First Milestone</button>
                        </div>
                        <div  class="col-md-12 mt-3" align="center">
                            <button *ngIf="!this.isButtonVisible ||this.status1=='approved'" (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelOrCreateQuatationOrder2()">Cancel Order</button>
                        </div>
                        <div  class="col-md-12 mt-3" align="center" *ngFor="let i=index" >
                            <button *ngIf="!this.isButtonVisible || this.status1=='inprogress'|| this.user.payment_terms[i].status!='payment_done'" (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelOrCreateQuatationOrder1()" >{{milestone()}}</button>
                        </div>
                        <div  class="col-md-12 mt-3" align="center" >
                            <button *ngIf="!this.isButtonVisible || this.status1=='inprogress'||this.user.payment_terms.status=='payment_done'" (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="markAsDoneMilestone()" >{{markAsDone()}}</button>
                        </div>
                      
                       
                        <div  class="col-md-12 mt-3" align="center">
                            <button *ngIf="!this.isButtonVisible || this.status1=='inprogress'" (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelQuationOrders()">Cancel</button>
                        </div>
                        <div  class="col-md-12 mt-3" align="center">
                            <button *ngIf="!this.isButtonVisible || this.status1=='inprogress'" (click)="this.isButtonVisible = false" class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="endContractQuationOrders()">End Contract</button>
                        </div>
                       
                        

                        <!-- <form [formGroup]=form2>
                            <div class="card-form mt-3" *ngIf="divHide2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text"  name="namecard" placeholder="Enter Name on Card" class="form-control"
                                            [formControl]="form2.controls['namecard']" [(ngModel)]="namecard">
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="numbercard" placeholder="Card Number" class="form-control" 
                                            maxlength="16" 
                                            [formControl]="form2.controls['numbercard']" [(ngModel)]="numbercard">
                                        </div>
                                   </div>	
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="date" name="datecard" placeholder="DD/YY" class="form-control dataWidth"  [min]="today"
                                            [formControl]="form2.controls['datecard']" [(ngModel)]="datecard" >
                                        </div>	
                                        
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="datecard" placeholder="CVV" class="form-control" maxlength="3" 
                                            [formControl]="form2.controls['cvv']" [(ngModel)]="cvv">
                                        </div>	
                                        
                                        
                                    </div>
                                 
                                    
                                </div>
                            </div>
                        </form> -->

                       <!-- <div *ngIf="this.user=='customer' && !this.isButtonVisible && (this.status1=='inprogress' && this.status1=='pending')" (click)="this.isButtonVisible = false">
                        <div class="col-md-12 mt-3" align="center">
                            <button   class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelOrCreateQuatationOrder1()" >Pay For First Milestone</button>
                        </div>
                        <div class="col-md-12 mt-3" align="center">
                            <button   class="btn btn-change-fill" data-dismiss="modal" data-target="#SuccessModal" data-toggle="modal" (click)="cancelOrCreateQuatationOrder2()">Cancel Order</button>
                        </div>
                    </div> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
 
  	
	</section>
    <div class="modal fade" id="viewFeedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">View Feedback</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form >
        <div>
        <div >
        <div class="row">
        <div class="col-md-12">
        <!-- <mat-label>Feedback</mat-label> -->
        <div *ngFor="let item of user.payment_terms">
        {{item?.feedback}}</div>
        </div>
        </div>
        </div>
        </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-change-fill" data-dismiss="modal">Save changes</button> -->
        </div>
        </div>
        </div>
        </div>
    <app-footer></app-footer>