.moretext-s{
	display: none;
}
p {
	font-family: Lato;
  }
.p{
	word-spacing: 30px;
}
.card-body{box-shadow: 0px 0px 18px 4px #c1c1c1a6;
	border-radius: 10px;
	height: auto;
			}
.card{border: none;}
.web-serv-name h3{margin-bottom:2px;}
.web-serv-name h5{margin-bottom:2px;}	

::ng-deep .ngx-slider-combined{left: 0px!important;
	font-size: 15px!important;
    padding: 0px 0px 10px 0px!important;}