<app-seller-header></app-seller-header>
	<section class="seller-quotation-wrapper">
        <div class="custom-container d-flex">
            <app-seller-sidebar></app-seller-sidebar>
            <div class="main-wrap">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2017/04/24/13/37/architecture-2256489_960_720.jpg" class="img img-responsive"> -->
                                    <div class="profile-content">
                                        
                                        <div class="profile-name text-center">
                                            <h2> Earnings Details</h2>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h4 class="txt-theme text-center">
                                                     Details
                                                </h4>
                                                <div class="earng_cards">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Order Number</label>
                                                                <!-- <h4>34534</h4> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <!-- <label class="txt-theme">User Name</label> -->
                                                                <h4>{{this.data.order_id.order_no}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Professional Name</label>
                                                                <h4>efrefg</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Store Name</label>
                                                                <h4>sdvfds</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Payment mode</label>
                                                                <h4>SAR </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Quantity Delivered</label>
                                                                <h4>cfbcfv</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Date</label>
                                                                <h4>cfbcfv</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Total Order cost</label>
                                                                <h4>cfbcfv</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="txt-theme">Date</label>
                                                                <h4>cfbcfv</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

 