<app-header></app-header>
<section class="common_image_section page_headrer_wrkshop">
	<div class="container">
		<div class="page_head_wrap">
			<h2 class="aboutus_head">Terms and Condition</h2>
			<p class="page_head">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
		</div>
	</div>
</section>
<div class="wrapper_shala outer_most_main">
	<nav aria-label="breadcrumb mb-0">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a routerLink="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
		</ol>
	</nav>
	<section class="terms-header">
		<div class="container">
			<div class="area" >
				<ul class="circles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li> 
					<li></li>
					<li></li> 
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div >
			<div class="page_head_wrap">
				<!-- <h2><span>Terms And Conditions</span></h2> -->
				<h2><span>Dreesha Terms of Use</span></h2>
			</div>
		</div>
	</section>
	<section class="terms-wrap">
		<div class="custom_container">
			<div class="row">
				<div class="col-md-12">		
					<div class="terms-content-wrp">
						<h1 class="text-uppercase text-bold">{{detail?.title}}</h1>
						<!-- <p>Welcome to Dreeshah! Dreeshah is an online platform dedicated to home renovation and design. We bring together homeowners, home professionals, sellers of home goods, and design enthusiasts. Through Dreeshah, people can find or offer design ideas, advice, products and services related to home renovation and design.

							These Terms of Use (the "Terms" or the "Agreement") set forth the binding legal agreement between you and Dreeshah Inc. The Agreement governs your use of www.Dreeshah.com and all of the related websites, mobile apps, products and services offered by Dreeshah, including our plug-ins and browser extensions (collectively, the "Dreeshah Platform").

							We refer to the e-commerce marketplace on the Dreeshah Platform as the "Dreeshah Shop." If you visit or make a purchase or sale through the Dreeshah Shop through www.Dreeshah.com or the related mobile app experience, or if you create an account on the Dreeshah Platform, then this Agreement is also between you and Dreeshah Shop LLC. Dreeshah Inc., Dreeshah Shop LLC and/or Dreeshah Shop International LLC, are collectively referred to as "Dreeshah," "we," or "us" in this Agreement.

							These Terms provide important information to you, including your agreement under Section 8 to resolve any disputes by individual arbitration and to waive the right to participate in any kind of class action, unless you choose to opt-out as described in Section 8 below. The Terms also cover your agreement to grant us rights to your content, our limitation of liability to you and, if you choose to provide us with your phone number, your agreement to receive calls and text messages from us in accordance with applicable law. By agreeing to these Terms, you agree to resolve all disputes through binding individual arbitration, which means that you waive any right to have those disputes decided by a judge or jury, and that you waive your right to participate in class actions, class arbitrations, or any type of representative actions.

						We encourage you to review this Agreement carefully. By accessing or using the Dreeshah Platform in any way, including browsing www.Dreeshah.in, you are agreeing to these Terms in their entirety. If you do not agree to any of the Terms, you may not use the Dreeshah Platform.</p> -->
							<p [innerHtml]="detail?.description"></p>
							<!-- <div [innerHtml]="detail?.product_description"></div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>