<app-seller-header></app-seller-header>
<div class="seller-profile-wrapper">
    <div class="custom-container d-flex">
        <app-seller-sidebar></app-seller-sidebar>
        <div class="main-wrap">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h2>Edit Profile</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="seller-drpdwn">
                                        <div class="form-group">
                                            <label>Seller Type: Professional</label>
                                             <select name="signup" class="custom-select">
                                                <option selected>Select Seller Type</option>
                                                <option value="seller">Seller</option>
                                                <option value="service provider">Service Provider</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                               <!--  <div class="col-md-6">
                                    <div class="seller-identity">
                                        <div class="form-group">
                                            <label>You Are:</label>
                                            <select name="signup" class="custom-select">
                                                <option selected>Select</option>
                                                <option value="seller">Manufacturer</option>
                                                <option value="service provider">Authorized Dealer</option>
                                                <option value="service provider">Distributor</option>
                                                <option value="service provider">Dealer</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Personal Information</h3>
                                    <div class="form-group">
                                        <label for="companyName">Email</label>
                                        <input type="email" name="companyName" id="companyName" placeholder="Company Name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Company Name in English</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Company Name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Company Name in Arabic</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Company Name in English" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">A Brief About the Company</label>
                                        <textarea class="form-control" rows="3" placeholder="A Brief About the Company" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Type</label>
                                        <select name="signup" class="custom-select">
                                            <option selected>Choose</option>
                                            <option value="seller">Manufacturer</option>
                                            <option value="service provider">Supplier</option>
                                            <option value="service provider">Retailer</option>
                                            <option value="service provider">Online Retailer</option>
                                            <option value="service provider">Designer/Professional</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Category</label>
                                        <select name="signup" class="custom-select">
                                            <option selected>Choose</option>
                                            <option value="seller">Building Contractors</option>
                                            <option value="service provider">Building Consultants</option>
                                            <option value="service provider">Interior Designers</option>
                                            <option value="service provider">Kitchen Designers &amp; Suppliers</ option>
                                            <option value="service provider">Wardrobe Designers &amp; Suppliers</option>
                                            <option value="service provider">Bathroom Designers &amp; Suppliers</option>
                                            <option value="service provider">Windows Designers &amp; Suppliers</option>
                                            <option value="service provider">Furniture Designers &amp; Suppliers</option>
                                            <option value="service provider">Doors Designers &amp; Suppliers</option>
                                            <option value="service provider">Rugs Designers &amp; Suppliers</option>
                                            <option value="service provider">Wallpapers Designers &amp; Suppliers</option>
                                            <option value="service provider">Gypsum Boards Designers &amp; Suppliers</option>
                                            <option value="service provider">Tiles Designers &amp; Suppliers</option>
                                            <option value="service provider">Stone Designers &amp; Suppliers</option>
                                            <option value="service provider">Interlock Designers &amp; Suppliers</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Certifications &amp; Awards</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Certifications & Awards" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Address Line1</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Certifications & Awards" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Address Line1</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Address Line1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Address Line2</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Address Line2" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">City</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="City" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Country</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Country" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Co-ordinator Name in English</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Co-ordinator Name in English" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Co-ordinator Name in Arabic</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Co-ordinator Name in Arabic" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Mobile Number</label>
                                        <input type="number" name="companyName" id="companyName" placeholder="Mobile Number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Business Mobile Number</label>
                                        <input type="number" name="companyName" id="companyName" placeholder="Business Mobile Number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 style="visibility: hidden;">Personal Information</h3>
                                    <div class="form-group">
                                        <label for="companyName">Company Email</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Company Email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Company Website</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Company Website" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Instagram Account</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Instagram Account" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Youtube Channel</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Youtube Channel" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Company Establishment Year</label>
                                        <input type="number" name="companyName" id="companyName" placeholder="Company Establishment Year" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Licence Number</label>
                                        <input type="number" name="companyName" id="companyName" placeholder="Licence Number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Licence Expiry Date</label>
                                        <input type="number" name="companyName" id="companyName" placeholder="Licence Expiry Date" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Issued in (Mention the city & Country)</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="City and Coutry" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Please Upload Your Company Licence</label>
                                        <input type="file" name="companyName" id="companyName" placeholder="City and Coutry" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>No of Employees</label><br/>
                                        <label class="radio-inline">1 to 10
                                        <input type="radio" checked="checked" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 50
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 100
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 500
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">More than 500
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Please List the Services and Products you Provide</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="List the Services and Products" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Countries &amp; Cities Range Where Your Services Cover</label>
                                        <input type="text" name="companyName" id="companyName" placeholder="Enter Cities Range" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Typical Service Cost Range</label><br/>
                                        <label class="radio-inline">Up to 10,000 AED
                                        <input type="radio" checked="checked" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 50,000 AED
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 100,000 AED
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Up to 500,000 AED
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">Above 500,000 AED
                                        <input type="radio" name="is_company">
                                        <span class="checkround"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="seller-info-btn" align="center">
                                    <button type="submit" class="btn btn-change-fill">Submit</button>
                                </div>
                            </div>
                        </div>
                      <div class="col-md-4">
                            <div id="wrapper">
                                <div id="sidebar-wrappe">
                                    <div class="list-group mt-3 list-group-flush">
                                        <div class="filter-accordion">
                                            <div class="accordion" id="accordionExample">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h2 class="mb-0 d-flex justify-content-between">
                                                            <button type="button" class="btn btn-link accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseOne">Category 
                                                            <span class="pls_ico abs_icn_fq mr-5"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq mr-5"><i class="fa fa-angle-up"></i></span></button>                                    
                                                        </h2>
                                                    </div>
                                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Architectural Design
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Structural Design
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Electrical Design
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Mechanical Design
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Interior Design
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h2 class="mb-0">
                                                            <button type="button" class="btn btn-link accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo">Areas Covered  <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span></button>
                                                        </h2>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">A
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">B
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">C
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">D
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h2 class="mb-0">
                                                            <button type="button" class="btn btn-link accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseThree">Locations <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span></button>                     
                                                        </h2>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Villas
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Places
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group col-sm">
                                                                <label class="checkbox-inline">Hotels
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h2 class="mb-0">
                                                            <button type="button" class="btn btn-link accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseFour">Customer rating <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span></button>                     
                                                        </h2>
                                                    </div>
                                                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="custom-slider">
                                                                <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h2 class="mb-0">
                                                            <button type="button" class="btn btn-link accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseFive">Customer rating <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span></button>                     
                                                        </h2>
                                                    </div>
                                                    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div class="custom-slider">
                                                                <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
