<div class="seller-header">
   <!-- <div class="custom_container">
        <div class="row">
            <div class="social-icon text-left col-sm-6">
                <ul class="list-inline">
                 
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="contct_heder social-icon text-right col-sm-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="fas fa-envelope"></i> support@gmail.com</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-phone rot_phon"></i> +91 94786 16633</a>
                    </li>
                    <li class="list-inline-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                USD
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">USD</a>
                                <a class="dropdown-item" href="#">CAD</a>
                                <a class="dropdown-item" href="#">SAR</a>
                                <a class="dropdown-item" href="#">INR</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-fluid img_cntry_hdr"
                                    src="https://cdn.britannica.com/33/4833-004-297297B9/Flag-United-States-of-America.jpg">
                                USA
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#"><img class="img-fluid img_cntry_hdr"
                                        src="https://cdn.britannica.com/33/4833-004-297297B9/Flag-United-States-of-America.jpg">
                                    USA</a>
                                <a class="dropdown-item" href="#"><img class="img-fluid img_cntry_hdr"
                                        src="https://images-na.ssl-images-amazon.com/images/I/51j6eebed6L._AC_SL1500_.jpg">
                                    Canada</a>
                                <a class="dropdown-item" href="#"><img class="img-fluid img_cntry_hdr"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/640px-Flag_of_Saudi_Arabia.svg.png">
                                    Saudi</a>
                                <a class="dropdown-item" href="#"><img class="img-fluid img_cntry_hdr"
                                        src="https://www.crwflags.com/fotw/images/i/in_v1.gif"> India</a>
                            </div>
                        </div>
                    </li>
                      <li class="list-inline-item">
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook-messenger" aria-hidden="true"></i></a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>-->
</div>
<header class="header_home">
    <div class="custom_container">
        <nav class="navbar navbar-expand-lg navbar-light align-items-center">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo.png" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item has_menu">
                        <a class="nav-link" routerLink="/">Catalogue  <i class="fa fa-angle-down"></i></a>
                        <ul class="big_menu">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">KITCHEN AND DINING</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Kitchen</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Modular Kitchen</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Dining Room</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Home Bar</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">LIVING</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Living Room</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Home Theater</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Home Office</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Staircase</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">BED & BATH</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Bedroom</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Nursery</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Kid's Room</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Bathroom</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">OUTDOOR</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Garden</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Patio</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Terrace & Balcony</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Courtyard</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">MORE ROOMS</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Puja Room</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Wardrobe</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Exterior</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Swimming Pool</a></li>
                                        </ul>
                                    </div>
                                    <a href="">View All <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </ul>
                        </li>
                        <li class="nav-item has_menu">
                        <a class="nav-link" routerLink="/">Professionals <i class="fa fa-angle-down"></i></a>
                        <ul class="big_menu">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="sub_menu mb-4">
                                        <h4 class="mb-2">DESIGN AND RENOVATION</h4>
                                        <ul class="insd_menu_lst">
                                            <li><a href=""><i class="fa fa-angle-right"></i> Architects & Building Designers</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Interior Designers & Decorators </a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Civil Engineers & Contractors </a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Design-Build Firms </a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Kitchen & Bath Designers </a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Landscape Architects & Contractors </a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Home Builders & Construction Companies</a></li>
                                            <li><a href=""><i class="fa fa-angle-right"></i> Photographers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="sub_menu_img">
                                        <img src="assets/imgs/bnr2.jpg" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <a href="">View All Pros <i class="fa fa-angle-right"></i></a>
                        </ul>
                        </li>
                        <li class="nav-item has_menu">
                        <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link has_menu" href="#">Products</a>
                    </li> -->

                    <li class="nav-item drop-item">
                        <div class="User-area">
                            <div class="User-avtar">
                          <!-- <img src="https://buywptemplates.com/demo/construction-realestate-wordpress-theme/wp-content/uploads/sites/8/2019/03/testimonials2.jpeg"/> -->  
                              <img *ngIf="!user_image" src="assets/imgs/no-profile.webp" alt="image"
                                    >
                                <img *ngIf="user_image" src="{{image_path}}{{user_image}}" alt="image"
                                    >
                            </div>
                            <ul class="User-Dropdown U-open addwidth " id="profile" >
                                <li><a class="colorAdd addwidth" (click)="myProfile()"><i class="fa fa-user mr-3"></i>My
                                        Profile</a></li>
                                <li><a  (click)="dashboard()" class="colorAdd addwidth" ><i class="fa fa-chart-line mr-3"></i>Dashboard</a></li>
                                <li><a  class="colorAdd addwidth"><i class="fa fa-shopping-cart mr-3"></i>Photographer Request</a></li>
                              <li><a  class="colorAdd addwidth"><i class="fa fa-ticket mr-3"></i>Book Appointment</a></li>
                              <li><a  class="colorAdd addwidth"><i class="fa fa-ticket mr-3"></i>My Catalogues</a></li>
                              <li><a  class="colorAdd addwidth"><i class="fa fa-ticket mr-3"></i>My Albums</a></li>
                               
                                <li><a  class="colorAdd addwidth" (click)="logout()"><i class="fa fa-sign-out mr-3"></i>Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--  <div class="btn_rgt_hedr icns--navb">
                    
                    <a routerLink="/photographerChat"><i class="fab fa-facebook-messenger" aria-hidden="true"></i></a>
                </div> -->
                <!-- <div class="serch_ehdr mr-auto ml-auto">
                    <input type="" class="srch_inpt form-control" name="" placeholder="Search Item . . .">
                    <span class="abs_icons"><i class="fa fa-search"></i></span>
                </div> -->
                <!--  -->
            </div>
        </nav>
    </div>
</header>