<div class="seller-sidebar-wrapper">
    <div class="d-flex" id="wrapper">
        <div id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <div class="sidebar-menu">
                    <ul class="no-list">
                        <li>
                            <a routerLink="/seller-dashboard" class="sidebar-list-item list-group-item list-group-item-action active"><i class="fa fa-chart-line mr-3"></i>Dashboard</a>
                        </li>
                        <li>
                            <div class="filter-accordion">
                                <div class="accordion" id="accordionList">
                                    <a href="" class="list-group-item sidebar-list-item list-group-item-action accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseList">
                                        <i class="fa fa-user mr-3"></i>My Profile 
                                        <span class="pls_ico abs_icn_fq"><i class="fa fa-angle-down"></i></span> <span class="mns_ico abs_icn_fq"><i class="fa fa-angle-up"></i></span>                                   
                                    </a>
                                    <div id="collapseList" class="collapse" aria-labelledby="headingOne" data-parent="#accordionList">
                                        <ul>
                                            <li><a routerLink="/seller-profile" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-tasks mr-3"></i>Personal Information</a></li>
                                           
                                            <li><a routerLink="/seller-password-change" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-key mr-3"></i>Change Password</a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a routerLink="/sellerBranchListing" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-pencil mr-3"></i>Branches</a></li>
                        <li><a routerLink="/sellerProjectListing" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-key mr-3"></i>Projects</a></li>
                        <li>
                            <a routerLink="/my-membership" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-user-plus mr-3" aria-hidden="true"></i>My Membership</a>
                        </li>
                        <li>
                            <a routerLink="/payment-methods" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-heart mr-3"></i>My Payment Methods</a>
                        </li>
                         <li>
                            <a routerLink="/sellerQuotation" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-file mr-3"></i>Quotation Requests</a>
                        </li>
                     
                         <li>
                            <a routerLink="/seller-quotation-management" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-file mr-3"></i>Quotation Management</a>
                        </li>
                         <li>
                            <a routerLink="/seller-service-list" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-file mr-3"></i>Service Management</a>
                        </li>
                         <li>
                            <a routerLink="/seller-product-list" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-shopping-cart mr-3"></i>Product Management</a>
                        </li>
                        <li>
                            <a routerLink="/seller-order-management" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Order Management</a>
                        </li>
                        <li>
                            <a routerLink="/seller-refund-management" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Refund Management</a>
                        </li>
                        <li>
                            <a routerLink="/my-appointment-seller" class="list-group-item sidebar-list-item list-group-item-action"><i class="fas fa-calendar-plus mr-3"></i>Book Appointment</a>
                        </li>
                         <li>
                            <a routerLink="/sellerStaffPrivileges" class="list-group-item sidebar-list-item list-group-item-action"><i class="fas fa fa-user mr-3"></i>Staff & Staff Privileges</a>
                        </li>
                        <!-- <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-images mr-3"></i>My Reward Points</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-ticket mr-3"></i>My Subscriptions</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-shopping-cart mr-3"></i>My Advertisements</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-credit-card mr-3"></i>My Store locations</a>
                        </li> -->
                        <li>
                            <a routerLink="/earnings" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Earnings</a>
                        </li>
                        <li>
                            <a routerLink="/seller-inqueries" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Inqueries</a>
                        </li>
                        <li>
                            <a routerLink="/seller-discounts" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-cog mr-3"></i>Discounts</a>
                        </li>
                        <li>
                            <a routerLink="/seller-gift-card" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-gift mr-3"></i>Gift Cards</a>
                        </li>
                        <li>
                            <a href="#" class="list-group-item sidebar-list-item list-group-item-action"><i class="fa fa-sign-out mr-3"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
